<script type="text/javascript" id="summary-page">
  Vue.component('summary-page',
    {
      props: {
        page: Object,
        survey: Object,
        selectedQuestion: Number
      },
      template: "#summary-page-template"
    });
</script>
<script type="text/template" id="summary-page-template">
  <div class="survey-results__page">
    <span>{{page.name}}</span>
    <summary-question v-if="selectedQuestion == -1" v-for="question in page.questions" v-bind:question="question" :survey="survey" :selected-question="selectedQuestion"></summary-question>
    <summary-question v-if="selectedQuestion != -1" v-bind:question="page.questions[selectedQuestion]" :survey="survey" :selected-question="selectedQuestion"></summary-question>
  </div>
</script>