
<div class="new-survey-main__single-answer">
    <div class="new-survey-main__single-answer__title">
        <span>1.</span>
        <span>Question with single answer</span>
    </div>
    <div class="new-survey-main__single-answer__answers">
        <div class="new-survey-main__single-answer__option">
            <input type="radio" name="singleAnswer" />
            <span class="new-survey-main__single-answer__option__text-input">Answer 1</span>
        </div>
        <div class="new-survey-main__single-answer__option">
            <input type="radio" name="singleAnswer" />
            <span class="new-survey-main__single-answer__option__text-input">Answer 2</span>
        </div>
        <div class="new-survey-main__single-answer__option">
            <input type="radio" name="singleAnswer" />
            <span class="new-survey-main__single-answer__option__text-input">Answer 3</span>
        </div>
    </div>
</div>
