<script type="text/javascript" id="multiple-answer-option">
  Vue.component('multiple-answer-option',
    {
      props: {
        index: Number,
        option: String,
        question: Object
      },
      template: "#multiple-answer-option-template"
    });
</script>
<script type="text/template" id="multiple-answer-option-template">
  <div class="pass-survey__question-option">
    <input type="checkbox" v-model="question.answer.multipleAnswer" v-bind:value="option" />
    <span>{{option}}</span>
  </div>
</script>