<script type="text/javascript" id="single-answer">
  Vue.component('SingleAnswer',
    {
      props: {
        question: Object
      },
      template: "#single-answer-template"
    });
</script>
<script type="text/template" id="single-answer-template">
  <div class="pass-survey__question-answers">
    <single-answer-option v-for="(option, index) in question.options" v-bind:option="option" :question="question" :index="index"></single-answer-option>
  </div>'
</script>