@using iTechArt.iTechQuiz.Repositories.Constants

<aside class="aside-wrapper">
  <a asp-controller="Survey" asp-action="New">
    New Survey
  </a>
  <a asp-controller="Survey" asp-action="MySurveys">
    My Surveys
  </a>
  <a href="#">
    Surveys Templates
  </a>
  @if (User.IsInRole(Roles.Admin))
  {
    <a asp-controller="Admin" asp-action="Users">
      Users
    </a>
  }
</aside>
