<environment include="Development">
    <div>Version: @AppVersionService.Version</div>
</environment>


<environment include="Production">
    <div>Narkevich Corp. All rights reserved</div>
</environment>

