@section Styles{
    <link rel="stylesheet" href="~/css/sidebar.css" />
}

<partial name="_SidebarPartial" />
<div class="main-wrapper">
    <h2 class="h2">
        Welcome to iTechQuiz!!!
    </h2>
</div>
