<div class="new-survey-side">
    <div class="new-survey-side-wrapper">
        <div class="new-survey-side-question-type">
            <div class="new-survey-side-question-type__title">
                Question type
            </div>
            <div class="new-survey-side-question-type__options">
                <div id="singleAnswerOption" class="new-survey-side-question-type__option">
                    <img src="~/img/dotlist.svg" width="20" draggable="false" />
                    <span>Answer options (single)</span>
                </div>
                <div id="multipleAnswerOption" class="new-survey-side-question-type__option">
                    <img src="~/img/boxlist.svg" width="20" draggable="false" />
                    <span>Answer options (multiple)</span>
                </div>
                <div id="textAnswerOption" class="new-survey-side-question-type__option">
                    <img src="~/img/text.svg" width="20" draggable="false" />
                    <span draggable="true">Text</span>
                </div>
                <div id="fileAnswerOption" class="new-survey-side-question-type__option">
                    <img src="~/img/file.svg" width="20" draggable="false" />
                    <span draggable="true">File</span>
                </div>
                <div id="starAnswerOption" class="new-survey-side-question-type__option">
                    <img src="~/img/star.svg" width="20" draggable="false" />
                    <span draggable="true">Star rating</span>
                </div>
                <div id="scaleAnswerOption" class="new-survey-side-question-type__option">
                    <img src="~/img/scale.svg" width="20" draggable="false" />
                    <span draggable="true">Scale</span>
                </div>
            </div>
        </div>
        <div class="new-survey-side-survey-parameters">
            <span class="new-survey-side-survey-parametrs__title">
                Survey Parameters
            </span>
            <div class="new-survey-side-survey-parameters__options">
                <div>
                    <input type="checkbox" />
                    <span>Anonymous</span>
                </div>
                <div>
                    <input type="checkbox" />
                    <span>Question numbers</span>
                </div>
                <div>
                    <input type="checkbox" />
                    <span>Questions in random sequence</span>
                </div>
                <div>
                    <input type="checkbox" />
                    <span>Render start at required questions</span>
                </div>
                <div>
                    <input type="checkbox" />
                    <span>Progress bar</span>
                </div>
            </div>
        </div>
    </div>
</div>