<div class="new-survey-main" >
  <div class="new-survey-main__title">
    <span>Edit survey:</span>
    <input v-model="survey.title" type="text" placeholder="Survey title (can't be empty)" v-bind:class="{'alert-border': isNullOrWhitespace(survey.title)}"/>
  </div>
    <partial name="_SurveyMainPartial"/>
</div>