<div class="new-survey-main" >
    <div class="new-survey-main__title">
        <span>New survey:</span>
        <input v-model="survey.title" type="text" />
    </div>
    <partial name="_SurveyMainPartial"/>
</div>