@model Guid

@section Styles
{
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="~/css/sidebar.css" />
  <link rel="stylesheet" href="~/css/new-survey.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
}

@section Scripts
{
  <partial name="Constructor/_Components"/>
  <partial name="Constructor/_SurveyRoot" model="Model"/>
}

<partial name="_SidebarPartial" />
<div id="survey-vue" class="main-wrapper">
  <section class="new-survey-section">
    <partial name="_EditSurveyPartial" />
    <partial name="_SurveySidePartial" />
  </section>

  <div id="new-survey-modal" v-if="showModal" v-bind:class="{'animate__animated animate__fadeInRightBig': fadeModal, 'animate__animated animate__fadeOutRightBig': !fadeModal }">
    <img src="~/img/tick.svg" width="30" />
    <span>Your survey was saved!</span>
  </div>
</div>