@model iTechArt.iTechQuiz.WebApp.ViewModels.Constructor.SurveyViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/new-survey.css" />
}

@section Scripts
{
    <script src="~/js/newsurvey.js"></script>
    <script src="~/js/new-survey.js"></script>
}

<partial name="_SidebarPartial" />
<div id="survey-vue" class="main-wrapper">
    <section class="new-survey-section">
        <partial name="Survey/_NewSurveyMainPartial" model="Model" />
        <partial name="Survey/_NewSurveySidePartial" />
    </section>
</div>
