@model iTechArt.iTechQuiz.WebApp.ViewModels.Constructor.SurveyViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/new-survey.css" />
}

@section Scripts
{
    <script src="~/js/newsurvey.js"></script>
    <script>

        Vue.component('survey-page',
            {
                props: ['page'],
                template: "<div>I'm page {{page.name}}</div>"
            });

        Vue.component('single-answer-question',
            {
                template: "<div>I'm single answer question</div>"
            });

        let survey = new Vue({
            el: '#survey-vue',
            data: {
                survey: @Html.Raw(Json.Serialize(Model))
            }
        });
    </script>
}

<partial name="_SidebarPartial" />
<div id="survey-vue" class="main-wrapper">
    <section class="new-survey-section">
        <partial name="Survey/_NewSurveyMainPartial" model="Model" />
        <partial name="Survey/_NewSurveySidePartial" />
    </section>
</div>
