
@section Styles {
  <link rel="stylesheet" href="~/css/pass-survey.css" />
}

<div class="main-wrapper-centered" v-else>
  <span class="passed-survey-title">You have already passed this survey</span>
</div>