@model iTechArt.iTechQuiz.WebApp.ViewModels.SurveyViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/pass-survey.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
}

@section Scripts {
    <script src="~/js/pass-survey.js"></script>
    <script>
        let sv = new Vue({
            el: '#survey-vue',
            data: {
                survey: {}
            },
            created: function() {
                this.survey = @Html.Raw(Json.Serialize(Model));
            },
            computed: {
                questionsCount: function() {
                    return this.survey.pages.reduce((count, pages) => count + pages.questions.length, 0);
                },
                progressPercentage: function() {
                    return Math.floor((this.survey.currentPage + 1) / (this.survey.pages.length) * 100);
                } 
            },
            methods: {
                previousPage: function() {
                    this.survey.currentPage--;
                },
                nextPage: function () {
                    let required = 0;

                    for (let i = 0; i < this.survey.pages[this.survey.currentPage].questions.length; i++) {
                        if (this.survey.pages[this.survey.currentPage].questions[i].isRequired) {
                            let question = this.survey.pages[this.survey.currentPage].questions[i];

                            if (question.answer.file.byteArray == null
                                && question.answer.multipleAnswer.length === 0
                                && question.answer.numeric === 0
                                && question.answer.text == null) {
                                required++;
                            }
                        }
                    }
                    if (required === 0) {
                        this.survey.currentPage++;
                    } else {
                        alert("You have required questions without answers!!");
                    }
                },
                passSurvey: function() {
                    fetch("@Url.Action("Pass")",
                        {
                            method: "POST",
                            body: JSON.stringify(this.survey),
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            redirect: "follow"
                        }
                    ).then(response => {
                        console.log(response);
                    });
                }
            }
        });
    </script>
}

<div id="survey-vue" class="main-wrapper-centered">
    <div class="pass-survey-wrapper">
        <span>{{survey.title}}</span>
        <survey-page v-bind:page="survey.pages[survey.currentPage]" :survey="survey"></survey-page>
        <div class="pass-survey__progress-bar" v-if="survey.hasProgressBar">
            <span>{{survey.currentPage + 1}}/{{survey.pages.length}}</span>
            <progress v-bind:value="progressPercentage" max="100"></progress>
            <span>{{progressPercentage}}%</span>
        </div>
        <div class="pass-survey__page-buttons">
            <input v-bind:class="{hidden: (survey.currentPage == 0)}" type="button" class="button" value="Prev. page" v-on:click="previousPage()" />
            <input v-if="survey.currentPage != (survey.pages.length - 1)" type="button" class="button" value="Next page" v-on:click="nextPage()" />
            <input v-else type="button" class="red-button" value="Submit" v-on:click="passSurvey()" />
        </div>
    </div>
</div>
