.forgot-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.forgot-password-section form {
    display: flex;
    background-color: #272727;
    color: #fff;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    width: 500px;
    border-radius: 2px;
    padding: 30px 60px;
}

.forgot-password-section form h2 {
    font-size: 24px;
}

.forgot-password__input-wrapper {
    width: 100%;
}

.forgot-password__input-validation {
    margin-top: 3px;
    height: 15px;
    color: #d33722;
    font-size: 12px;
    display: block;
}

.forgot-password__input-additional-validation {
    height: 10px;
    margin-top: -15px;
    color: #d33722;
    font-size: 12px;
    display: block;
}

.forgot-password-section form button {
    width: 110px;
    height: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.25s;
}

.forgot-password-section form button:hover {
    background-color: #d33722;
    border: 2px solid #d33722;
}

.forgot-password__password-validation {
    color: #d33722;
    font-size: 12px;
    display: block;
}

.forgot-passwordt__password-validation-summary {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.forgot-password-confirmation-section {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.forgot-password-confirmation-section h2 {
    font-size: 24px;
}

.reset-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.reset-password-section form {
    display: flex;
    background-color: #272727;
    color: #fff;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    width: 500px;
    border-radius: 2px;
    padding: 30px 60px;
}

.reset-password-section form h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.reset-password-section form button {
    width: 110px;
    height: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.25s;
}

.reset-password-section form button:hover {
    background-color: #d33722;
    border: 2px solid #d33722;
}

.reset-password-confirmation-section {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.reset-password-confirmation-section h2 {
    font-size: 24px;
}


.forgot-password-token-expired {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.forgot-password-token-expired h2 {
    font-size: 24px;
}
