.login-section {
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
}

.login-section form {
    display: flex;
    background-color: #272727;
    color: #fff;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    width: 500px;
    border-radius: 2px;
    padding: 50px 60px;
}

.login-section h2 {
    font-family: Raleway;
    font-size: 24px;
    margin-bottom: 15px;
}

.login-input-validation {
    margin-top: 10px;
    color: #d33722;
    font-size: 12px;
    display: block;
    height: 12px;
}

.login-input-validation-summary {
    color: #d33722;
    font-size: 14px;
    display: block;
    height: 20px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.login-section form button {
    width: 110px;
    height: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: -12px;
    transition: 0.25s;
}
.login-section form button:hover {
    background-color: #d33722;
    border: 2px solid #d33722;
}

.login-input-wrapper {
    width: 100%;
}



