.aside-wrapper {
    width: 275px;
    height: 100%;
    position: fixed;
    top: 80px;
    z-index: 10;
    background-color: #101010;
    overflow-x: hidden;
    text-align: center;
    box-sizing: border-box;
}


.aside-wrapper a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

/*#EB3D26;*/

.aside-wrapper a {
    box-sizing: border-box;
    padding: 5%;
    display: block;
    border-top: 1px solid #fff;
}

.aside-wrapper a:last-child {
    border-bottom: 1px solid #fff;
}

.aside-wrapper a:last-child:hover {
    border-bottom: 1px solid #d33722;
}

.aside-wrapper a:hover {
    background-color: #d33722;
    border-top: 1px solid #d33722;
}

.aside-wrapper a:hover+a {
    border-top: 1px solid #d33722;
}
