.survey-results-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    row-gap: 20px;
    width: 100%;
}

.survey-results-wrapper > select {
    width: 40%;
}

.survey-results-switch {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.survey-results-buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.survey-results__title {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.survey-results__title__tag {
    font-size: 20px;
    font-weight: 500;
}

.survey-results__page-title {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.survey-results__pages-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    column-gap: 10px;
}

.survey-results__summary-page {
    display: flex;
    width: 90%;
    border: 2px solid #d33722;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    padding: 30px 50px;
}

.survey-results__summary-question {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    justify-content: flex-start;
}

.survey-results__summary-question-title {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.survey-results__summary-question-title > span {
    font-weight: 600;
}

.survey-results__summary-question__statistic {
    font-size: 13px;
}

.survey-results__answer-summary {
    width: 60%;
}

.survey-results__question-answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 10px 0 10px 10px;
}