@model iTechArt.iTechQuiz.WebApp.ViewModels.Constructor.PageViewModel

<div id="surveyConstructor" class="new-survey-main-constructor">
    <input asp-for="Name" type="text"/>
    @Html.EditorFor(p => p.Questions)
</div>
