@model iTechArt.iTechQuiz.WebApp.ViewModels.Constructor.SingleOptionViewModel

<div class="new-survey-main__question__option">
    <input asp-for="Option" hidden/>
    <input type="radio" name=""/>
    <label class="new-survey-main__question__option__text-input">@Model.Option</label>
</div>