@section Styles {
  <link rel="stylesheet" href="~/css/forgot-password.css" />
}

<div class="main-wrapper-centered">
  <section class="forgot-password-confirmation-section">
    <h2>To reset password, follow the link in mail we sent to your email</h2>
  </section>
</div>