@model iTechArt.iTechQuiz.WebApp.ViewModels.ForgotPasswordViewModel

<section class="forgot-password-section">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h2>Enter your account email</h2>
        <div class="forgot-password__input-wrapper">
            <input asp-for="Email" class="form-control" placeholder="Login (email)" />
            <span asp-validation-for="Email" class="forgot-password__input-validation"></span>
            @Html.ValidationMessage("DuplicateEmail", new { @class = "forgot-password__input-additional-validation" })
        </div>
        <button type="submit">Send</button>
    </form>
</section>