@model iTechArt.iTechQuiz.WebApp.ViewModels.ResetPasswordViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/forgot-password.css" />
}

<div class="main-wrapper-centered">
    <section class="reset-password-section">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <h2>Enter your new password</h2>
            <div class="forgot-password__input-wrapper">
                <input asp-for="Id" hidden />
                <input asp-for="Token" hidden />
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="forgot-password__input-validation"></span>
                <div class="forgot-passwordt__password-validation-summary">
                    @Html.ValidationMessage("PasswordTooShort", new { @class = "forgot-password__password-validation" })
                    @Html.ValidationMessage("PasswordRequiresDigit", new { @class = "forgot-password__password-validation" })
                    @Html.ValidationMessage("PasswordRequiresLower", new { @class = "forgot-password__password-validation" })
                </div>
                <button type="submit">Submit</button>
        </form>
    </section>
</div>