@section Styles {
    <link rel="stylesheet" href="~/css/forgot-password.css" />
}

<section class="reset-password-confirmation-section">
    <h2>Your password has been reset. Please login again using this <a asp-action="Login">link</a></h2>
</section>