@model iTechArt.iTechQuiz.WebApp.ViewModels.ResetPasswordViewModel

<section class="reset-password-section">
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <h2>Enter your new password</h2>
        <div class="forgot-password__input-wrapper">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="forgot-password__input-validation"></span>
            <div class="forgot-passwordt__password-validation-summary">
                @Html.ValidationMessage("PasswordTooShort", new { @class = "forgot-password__password-validation" })
                @Html.ValidationMessage("PasswordRequiresDigit", new { @class = "forgot-password__password-validation" })
            </div>
        </div>
        <div class="forgot-password__input-wrapper">
            <input asp-for="RepeatPassword" class="form-control" placeholder="Repeat password" />
            <span asp-validation-for="RepeatPassword" class="forgot-password__input-validation"></span>
        </div>
        <button type="submit">Submit</button>
    </form>
</section>