@section Styles {
  <link rel="stylesheet" href="~/css/forgot-password.css" />
}

<section class="forgot-password-token-expired">
  <h2>We are sorry, but your reset link is invalid or has been expired. Try to reset password again</h2>
</section>